:root {
    --bg-color: white;
    --text-color: black;
    --bad-text-color: #555555;
    --sidebar-bg: #f4f4f4;
    --highlight-color: yellow;
    --active-item-bg: #e7e7e7;
    --active-btn-bg: #ddd;
    --border-color: #333;

    --gray-bg: #dfdfdfd8;
    --yellow-bg: rgba(255, 218, 107, 0.6);
    --green-bg: rgba(115, 251, 251, 0.4);
    --red-bg: rgba(255, 158, 158, 0.5);
}

/* 系统是暗黑模式时 */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #181818;
        --text-color: #f0f0f0;
        --bad-text-color: #eee;
        --sidebar-bg: #272727;
        --highlight-color: #ffcc00;
        --active-item-bg: #3f3f3f;
        --active-btn-bg: #4f4f4f;
        --border-color: #f0f0f0;

        --gray-bg: #5f5f5f;
        --yellow-bg: #cc9a23a7;
        --green-bg: #026878c1;
        --red-bg: #a30000b6;
    }
    img[src$=".svg"] {
        filter: invert(1);
    }
}
