<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnnoText</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <h3 id="annotext-title">AnnoText</h3>
            <button id="new-article-btn" onclick="newArticle()">􀏪</button>
            <button id="new-article-btn" onclick="downloadDataAsJSON()">􀈉</button>
            <ul id="article-list"></ul>
        </div>
        <div class="content" id="main-text-content" tabindex="0">
            <h2 id="title"></h2>
            <p id="text" class="body-text"></p>
        </div>
        <div class="annotations" id="annotations">
            <h3 id="toggle-anno-content" title="点击全部显示或隐藏答案">注释</h3>
            <div style="display: flex">
                <h4 id="filter-label">筛选</h4>
                <div class="filter-menu">
                    <button id="gray-filter-btn" class="gray bordered" onclick="toggleFilter('gray')">G</button>
                    <button id="green-filter-btn" class="green bordered" onclick="toggleFilter('green')">A</button>
                    <button id="yellow-filter-btn" class="yellow bordered" onclick="toggleFilter('yellow')">B</button>
                    <button id="red-filter-btn" class="red bordered" onclick="toggleFilter('red')">C</button>
                    <button id="underline-filter-btn" class="red-underline" onclick="toggleFilter('underline')">U</button>
                </div>
            </div>
            <ul id="annotation-list"></ul>
        </div>
    </div>
    <button id="toggle-annotations">􀏛</button>
    <button id="toggle-sidebar">􀏚</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/newArticle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/save.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
</body>

</html>