<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnnoText</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color-scheme.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <h3 id="annotext-title">AnnoText</h3>
            <button id="new-article-btn" class="global-btn" onclick="newArticle()"><img src="{{ url_for('static', filename='img/add-document.svg') }}"></img></button>
            <button id="save-btn" class="global-btn" onclick="downloadDataAsJSON()"><img src="{{ url_for('static', filename='img/download.svg') }}"></img></button>
            <ul id="article-list"></ul>
        </div>
        <div class="content" id="main-text-content" tabindex="0">
            <h2 id="text-title"></h2>
            <button id="edit-btn" class="global-btn" onclick="startEdit()"><img src="{{ url_for('static', filename='img/file-edit.svg') }}"></img></button>
            <button id="test-btn" class="global-btn" onclick="startTest()"><img src="{{ url_for('static', filename='img/list-check.svg') }}"></img></button>
            <button id="print-btn" class="global-btn" onclick="printMode()"><img src="{{ url_for('static', filename='img/print.svg') }}"></img></button>
            <button id="copy-btn" class="global-btn" onclick="copyAnnotations()"><img src="{{ url_for('static', filename='img/file-export.svg') }}"></img></button>
            <p id="text" class="body-text"></p>
        </div>
        <div class="annotations" id="annotations">
            <h3 id="toggle-anno-content" title="点击全部显示或隐藏答案">注释</h3>
            <div class="filter-menu">
                <h4 id="filter-label">筛选</h4>
                <button id="gray-filter-btn" class="gray bordered" onclick="toggleFilter('gray')">G</button>
                <button id="green-filter-btn" class="green bordered" onclick="toggleFilter('green')">A</button>
                <button id="yellow-filter-btn" class="yellow bordered" onclick="toggleFilter('yellow')">B</button>
                <button id="red-filter-btn" class="red bordered" onclick="toggleFilter('red')">C</button>
                <button id="underline-filter-btn" class="red-underline" onclick="toggleFilter('underline')">U</button>
            </div>
            <ul id="annotation-list"></ul>
        </div>
    </div>
    <div id="overlay">
        <div id="editorContainer" style="display: none;">
            <h3>编辑源码</h3>
            <textarea id="textEditor"></textarea>
            <div style="text-align: right;">
                <button class="global-btn" onclick="cancelEdit()">取消</button>
                <button class="global-btn" onclick="confirmEdit()">确定</button>
            </div>
        </div>
        <div id="testContainer" style="display: none;">
            <h3>随机测试</h3>
            <div id="test-question"></div>
            <div style="text-align: right;" class="btn-container">
                <button class="global-btn" onclick="closeTest()">取消</button>
                <button class="global-btn" onclick="showAnswer()">显示答案</button>
                <button class="global-btn" onclick="generateTest()">下一个</button>
            </div>
        </div>
    </div>
    <div id="anno-context-menu" class="context-menu">
        <ul>
            <li id="anno-context-menu-edit-btn">编辑</li>
            <li id="anno-context-menu-delete-btn" style="color: red">删除</li>
        </ul>
    </div>
    <div id="sidebar-context-menu" class="context-menu">
        <ul>
            <li id="sidebar-context-menu-delete-btn" style="color: red">删除</li>
        </ul>
    </div>
    <button id="toggle-annotations" class="global-btn" onclick="toggleAnnotations()"><img src="{{ url_for('static', filename='img/sidebar-flip.svg') }}"></img></button>
    <button id="toggle-sidebar" class="global-btn" onclick="toggleSidebar()"><img src="{{ url_for('static', filename='img/sidebar.svg') }}"></img></button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/edit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article.js') }}"></script>
    <script src="{{ url_for('static', filename='js/save.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>

</html>